.bamboo-circle {
  display: inline-block;
  position: relative;
  .bamboo-circle-content {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
  }
  .bamboo-circle-success {
    p {
      color: $color-success;
    }
    color: $color-success;
  }
  .bamboo-circle-info {
    p {
      color: $color-info;
    }
    color: $color-info;
  }
  .bamboo-circle-warning {
    p {
      color: $color-warning;
    }
    color: $color-warning;
  }
  .bamboo-circle-danger {
    p {
      color: $color-danger;
    }
    color: $color-danger;
  }
}