.post-dedtail .img
  object-fit: contain

img.inline
  display: inline !important
  vertical-align: middle
  transform: translateY(-4px)
  margin: 0!important

.img-wrap
  text-align: center;
  line-height: 0
  .img-bg a
    display: inline-block
    padding: 0
  .img-bg .image-caption
    display: none
  .image-caption
    display: block;
    margin: .75rem auto;
    font-size: .8125rem;
    color: #888;