.note {
    padding: 1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    background-color: #f3f5f7;
    border-color: $color-default;
    color: #2c3e50;
}