.progress{display:flex;height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem;margin:1rem 0}
.progress-bar-animated{background-color:$color-primary!important}
.progress-bar-animated{animation:progress-bar-stripes 1s linear infinite}
.progress-bar-striped{background-image:linear-gradient(
45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:1rem 1rem}
@keyframes progress-bar-stripes{0%{background-position-x:1rem}
}.progress{display:flex;height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem}
.progress-bar{display:flex;flex-direction:column;justify-content:center;overflow:hidden;color:#fff;text-align:center;white-space:nowrap;background-color:#0d6efd;transition:width .6s ease}
@media (prefers-reduced-motion:reduce){.progress-bar{transition:none}
}.progress-bar-striped{background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:1rem 1rem}
.progress-bar-animated{animation:progress-bar-stripes 1s linear infinite}
.progress p{font-size:10px!important;margin:0!important;margin-bottom:9px;color:#fff;}
.bg-success{background-color:$color-success!important}
.bg-warning{background-color:$color-warning!important}
.bg-danger{background-color:$color-danger!important}
.bg-info{background-color:$color-info!important}
.bg-primary{background-color:$color-primary!important}