.pbg.yellow {
    background-color: $color-tag-yellow;    
}
.pbg {
    background-color: $color-primary;    
}
.pbg.info {
    background-color: $color-info;    
}
.pbg.warning {
    background-color: $color-warning;    
}
.pbg.danger {
    background-color: $color-danger;    
}
.pbg.success {
    background-color: $color-success;    
}
.pbg.red {
    background-color: $color-tag-red;    
}
.pbg.green {
    background-color: $color-tag-green;    
}
.pbg.blue {
    background-color: $color-tag-blue;    
}


.p.yellow {
    color: $color-tag-yellow;    
}
p.p.primary, 
span.p.primary {
    color: $color-primary;    
}
.p.info {
    color: $color-info;    
}
.p.warning {
    color: $color-warning;    
}
.p.danger {
    color: $color-danger;    
}
.p.success {
    color: $color-success;    
}
.p.red {
    color: $color-tag-red;    
}
.p.green {
    color: $color-tag-green;    
}
.p.blue {
    color: $color-tag-blue;    
}
p.p.center, 
span.p.center {
    display: block;
    text-align: center;
}
p.p.large,
span.p.large {
    font-size: 2.5rem;
    line-height: 1.4;
}
p.p.small,
span.p.small  {
    font-size: .875rem;  
}