<div id='loader'>
  <link rel="stylesheet" href="<%- url_for('/js/loaded/index.css') %>" >
  <div class="loading-left-bg"></div>
  <div class="loading-right-bg"></div>
  <div class="spinner-box">
    <div class="configure-border-1">
      <div class="configure-core"></div>
    </div>
    <div class="configure-border-2">
      <div class="configure-core"></div>
    </div>
    <div class="loading-word"><%= __('loading') %>...</div>
  </div>
</div>