<div class="preloader_5" id="loader">
  <div class="cube">
    <div class="topD"></div>
    <div>
      <span style="--i:0"></span>
      <span style="--i:1"></span>
      <span style="--i:2"></span>
      <span style="--i:3"></span>
    </div>

    <div class="cube2">
      <div>
        <span style="--i:0"></span>
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
      </div>

      <div class="cube3">
        <div class="top3"></div>
        <div>
          <span style="--i:0"></span>
          <span style="--i:1"></span>
          <span style="--i:2"></span>
          <span style="--i:3"></span>
        </div>
      </div>
    </div>
  </div>
</div>