<link rel="stylesheet" href="<%- url_for(theme.CDN.gitalkCss) %>">
<div id="gitalk-container"></div>

<style>
    .gt-container .gt-meta {
        z-index: 2;
    }
    .gt-container .gt-header-comment {
        width:100%;
        box-sizing: border-box;
        margin-left: 0;
    }
</style>