<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/ant-design-vue/2.0.0-beta.1/antd.min.css" rel="stylesheet"> -->
  <%- css('css/style.css') %>
  
  <% if(theme.fancybox.on === true ) { %>
    <%- css('js/fancybox/jquery.fancybox.min.css') %>
  <% } %>
  <% if(theme.sharejs.on === true ) { %>
    <%- css(['js/shareJs/share.min.css']) %>
  <% } %>
</head>