<div id="gitment-ctn"></div> 

<!-- 修改css与js文件如下即可-->
<!-- <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script> -->
<link rel='stylesheet' href='<%- url_for(theme.CDN.gitmentCss) %>'>


<style>
  .gitment-comment-header {
    margin: 0;
    padding: 5px;
  }
</style>
