<!-- 文章详情页的分类 -->
<% if (post.categories && post.categories.length){ %>
<div class="article-category">
  <i class="iconfont iconbookmark1"></i>
  <%- list_categories(post.categories, {
    show_count: false,
    class: 'article-category',
    style: 'none',
    separator: ' '
  }) %>
</div>
<% } %>
