<!-- https://github.com/overtrue/share.js -->
<!-- 文章详情页的分享 -->
<div class="social-share" data-sites="<%- theme.sharejs.sites %>" data-wechat-qrcode-helper="<p>微信扫一扫即可分享！</p>"></div>

<script defer src="<%- url_for('/js/shareJs/social-share.min.js') %>"></script>
</script>

<style>
  .social-share {
    margin: 20px 0;
  }
</style>

