<!-- 文章详情页右侧目录 -->
<% if(theme.toc.on === true && page.toc !== false) { %>
  <div class="toc-aside">
    <div class="toc-main">
      <div class="toc-aside-title">
        <i class="fa fa-list-ul" aria-hidden="true"></i><span><%= __('paperCatalog') %></span>
        <% if(theme.toc.showBtn) { %>
          <div class="toc-open-close"><%= __('paperCatalog') %></div>
        <% } %>
      </div>
      <div class="toc-content">
        <div class="toc"></div>
      </div>
    </div>
  </div>
  <!-- js在scripts目录下的的toc.ejs里面 -->
  <% if(theme.toc.open === false || page.tocOpen === false) { %>
    <style>
      .toc-aside {
        width: 0;
        padding: 0;
      }
      .toc-aside .toc-content {
        width: 0;
      }
      .toc-aside-title span, .toc-aside-title i {
        display: none;
      }
      .main-content {
        width: 75%;
        margin: 10px auto;
      }
    </style>
  <% } %>

  <script>
    function openBtnClickFn () {
      let openOrCloseBtn = $('.toc-aside .toc-aside-title .toc-open-close');
      let open = eval('<%= page.tocOpen %>' || '<%= theme.toc.open %>');
      openOrCloseBtn.click(function() {
        if (open === true) {
          $(".toc-aside").css({'width': 0, 'padding': 0});
          $(".toc-content").css({'width': 0});
          $(".toc-aside-title span, .toc-aside-title i").css({'display': 'none'});
          $(".main-content").css({'width': '75%', 'margin': '10px auto'});
          open = false;
        } else {
          $(".toc-aside").css({'width': '300px', 'padding': '0 10px'});
          $(".toc-content").css({'width': '300px'});
          $(".toc-aside-title span, .toc-aside-title i").css({'display': 'inline-block'});
          $(".main-content").css({'width': '65%', 'margin-right': '10px', 'margin-left': 'calc(35% - 350px)'});
          open = true;
        }
      });
    };
    openBtnClickFn();
    document.addEventListener('pjax:complete', function () {
      openBtnClickFn();
    })
  </script>
<% } else { %>
  <style>
    .toc-aside {
      width: 0;
      padding: 0;
    }
    .toc-aside .toc-content {
      width: 0;
    }
    .toc-aside-title span, .toc-aside-title i {
      display: none;
    }
    .main-content {
      width: 75%;
      margin: 10px auto;
    }
  </style>
<% } %>