.article
  mjx-container
    font-family: 'Menlo, Monaco, monospace, courier, sans-serif'
    padding: 16px 8px
    border-radius: 4px
    min-width: 0 !important
  mjx-container[jax="CHTML"][display="true"], .has-jax
    overflow: auto hidden
  mjx-container + br
    display: none