<!-- 不蒜子统计 -->
<span id="busuanzi_container_site_pv">
      <i class="fas fa-eye" aria-hidden="true"></i><%= __('totalVisits') %>：<span id="busuanzi_value_site_pv"></span> <%= __('times') %>
</span>
<span class="post-meta-divider">|</span>
<span id="busuanzi_container_site_uv" style='display:none'>
      <i class="fas fa-users" aria-hidden="true"></i><%= __('numberVisitors') %>：<span id="busuanzi_value_site_uv"></span> <%= __('people') %>
</span>
