<script src="<%= theme.CDN.MiniValine %>"></script>
<div class="comment"></div>
<script>
  new MiniValine({
      el: '.comment',
      appId: '<%= theme.miniValine.appid %>',
      appKey: '<%= theme.miniValine.appkey %>',
      placeholder: '<%= theme.miniValine.placeholder %>',
      notify: false,
			verify: false,
  });
</script>