$color-primary = #42b983; // 默认颜色
$color-default-shallow = $color-default + 10 * 8% + 1 * .5deg;
$color-default-deep = $color-default - 4 * 8% + 1 * .5deg;
$color-warning = #e7c000;
$color-danger =  #f66;
$color-success = #42b983;