$color-primary = #42b983; // 默认颜色
$color-primary-shallow = $color-primary + 10 * 8% + 1 * .5deg;
$color-primary-deep = $color-primary - 4 * 8% + 1 * .5deg;
$color-warning = #e6a23c;
$color-danger =  #f66;
$color-success = #67c23a;
$color-info = #409eff;