$color-primary = convert(hexo-config('color_scheme.common.theme')); // 默认颜色
$color-primary-shallow = $color-primary + 10 * 8% + 1 * .5deg;
$color-primary-deep = $color-primary - 4 * 8% + 1 * .5deg;
$color-warning = convert(hexo-config('tag_plugins.warningColor'));
$color-danger =  convert(hexo-config('tag_plugins.dangerColor'));
$color-success = convert(hexo-config('tag_plugins.successColor'));
$color-info = convert(hexo-config('tag_plugins.infoColor'));
$color-tag-yellow = convert(hexo-config('tag_plugins.yellow'));
$color-tag-red = convert(hexo-config('tag_plugins.red'));
$color-tag-green = convert(hexo-config('tag_plugins.green'));
$color-tag-blue = convert(hexo-config('tag_plugins.blue'));
$color-tag-cyan = convert(hexo-config('tag_plugins.cyan'));

$color-link = convert(hexo-config('color_scheme.common.link'));
$color-selection = convert(hexo-config('color_scheme.common.selection'));
$color-inner = convert(hexo-config('color_scheme.common.inner'));

$color-pace = convert(hexo-config('color_scheme.common.pace'));

$color-post-header-title = convert(hexo-config('color_scheme.post.headerTitle'));
$color-post-header-title-font-weight = convert(hexo-config('color_scheme.post.headerTitleFontWeight'));
$color-post-copy-background = convert(hexo-config('color_scheme.post.copyBackground'));
$color-post-copy-font = convert(hexo-config('color_scheme.post.copyColor'));
$color-post-code-background = convert(hexo-config('color_scheme.post.codeBackground'));
$color-post-p-light = convert(hexo-config('color_scheme.post.pLight'));
$color-post-p = convert(hexo-config('color_scheme.post.p'));
$color-post-title = convert(hexo-config('color_scheme.post.title'));
$color-post-toc = convert(hexo-config('color_scheme.post.toc'));
$color-post-fontFamily = convert(hexo-config('color_scheme.post.fontFamily'));
$color-post-contentOpacity = convert(hexo-config('color_scheme.post.contentOpacity'));
$color-post-tocOpacity = convert(hexo-config('color_scheme.post.tocOpacity'));

$cursor-default = url(hexo-config('cursor.default'));
$cursor-pointer = url(hexo-config('cursor.pointer'));
$cursor-text = url(hexo-config('cursor.text'));
$cursor-zoom-in = url(hexo-config('cursor.zoom-in'));
$cursor-zoom-out = url(hexo-config('cursor.zoom-out'));
$color-scroll = convert(hexo-config('color_scheme.common.scroll'));

$bg-floor = convert(hexo-config('color_scheme.common.bgFloor'));