$color-primary = convert(hexo-config('color_scheme.common.theme')); // 默认颜色
$color-primary-shallow = $color-primary + 10 * 8% + 1 * .5deg;
$color-primary-deep = $color-primary - 4 * 8% + 1 * .5deg;
$color-warning = convert(hexo-config('tag_plugins.warningColor'));
$color-danger =  convert(hexo-config('tag_plugins.dangerColor'));
$color-success = convert(hexo-config('tag_plugins.successColor'));
$color-info = convert(hexo-config('tag_plugins.infoColor'));
$color-tag-yellow = convert(hexo-config('tag_plugins.yellow'));
$color-tag-red = convert(hexo-config('tag_plugins.red'));
$color-tag-green = convert(hexo-config('tag_plugins.green'));
$color-tag-blue = convert(hexo-config('tag_plugins.blue'));
$color-tag-cyan = convert(hexo-config('tag_plugins.cyan'));

$color-link = convert(hexo-config('color_scheme.common.link'));
$color-inner = convert(hexo-config('color_scheme.common.inner'));

$color-post-fontFamily = convert(hexo-config('color_scheme.post.fontFamily'));
$color-post-contentOpacity = convert(hexo-config('color_scheme.post.contentOpacity'));

$cursor-default = url(hexo-config('cursor.default'));
$cursor-pointer = url(hexo-config('cursor.pointer'));
$cursor-text = url(hexo-config('cursor.text'));
$cursor-zoom-in = url(hexo-config('cursor.zoom-in'));
$cursor-zoom-out = url(hexo-config('cursor.zoom-out'));

$bg-floor = convert(hexo-config('color_scheme.common.bgFloor'));