span.btn {
  &.cool-9 {
    .button {
      padding: 0.6em 1em;
      border: 4px solid #fa725a;
      transition: ease-in-out 0.3s;
      background-color: transparent;
      color: #fa725a!important;
      font-weight: bolder;
      font-size: 16px;
      margin-top: 10px;
    }

    .button:hover {
      transform: scale(1.2) rotate(10deg);
      background-color: #fa725a;
      color: white!important;
    }
  }
}