<% if(theme.lantern.on === true ) { %>
  <!-- 灯笼1 -->
  <div class="deng-box">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t"><%= theme.lantern.right %></div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
  </div>
  
  <!-- 灯笼2 -->
  <div class="deng-box1">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t"><%= theme.lantern.left %></div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
  </div>
<% } %>