<% if (theme.motto.on && page.current === 1) { %>
  <div class="motto">
      <h3 class="motto-title"><%= theme.motto.title %></h3>
      <div class="motto-content">
        <p>
          <%= theme.motto.content %>  
        </p> 
      </div>
  </div>
<% } %>