// 全局背景颜色
.bg-color {
  // background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
  // or background: #42b983;
}
// 全局字体颜色
.color-primary {
  // color: #42b983!important;
}
// 轮播图底部小点点的背景颜色
.swiper-pagination-bullet-active {
  // background-color: #42b983!important;
}
// 搜索输入框聚焦时候的颜色
#local-search-input:focus {
  // background-image: linear-gradient(#42b983, #42b983),
  //                     linear-gradient(#e4eaec, #e4eaec)!important;
}

