$height = 60px
.header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: $height;
  // background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
  
  .header-content {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar {
      height: 100%;
      display: flex;
      .menu {
        height: 100%;
        margin: 0;
        padding: 0;
        .menu-item {
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
          float: left; 
          list-style: none;
          height: 100%;
          display: inline-block;
          line-height: $height;
          i {
            color: #ffffff; 
          }
          padding: 0 10px;
          transition: background-color 0.5s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);  
          }
          .menu-item-link:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  a {
    color: #fff;
  }

  .blog-title {
    line-height: $height;
    a {
      font-size: 2em;
      font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
      text-decoration: none;
    }  
  }
}
@media (max-width: 1100px) {
  .header .header-content { 
    width: 70%;
  }
}

@media (max-width: 982px) {
  .header .header-content { 
    width: 100%;
  }
  .menu {
    display: none;
  }
  .header {
    padding: 0 60px 0 20px;
  }
}
// @media (max-width: 982px) and (min-width: 551px) {
//   .header {
//     padding: 0 60px 0 20px;
//   }
// }