// 首页的categories样式
.post-categories {
  color: #8a8a8a;
  i {
    margin-left: 10px;
  }
  .article-category {
    .article-category-link {
      color: #8a8a8a;
      &:hover {
        color: #42b983;
      }
    }
  }
}