.donate_bar {
  text-align: center;
}

.donate_bar a.btn_donate {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  background: url(http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif)no-repeat;
  -webkit-transition: background 0s;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -ms-transition: background 0s;
  transition: background 0s
}

.donate_bar a.btn_donate:hover {
  background-position: 0 -82px
}

.donate_bar .donate_txt {
  display: block;
  color: #9d9d9d;
  font: 14px/2 "Microsoft Yahei"
}
.donate_bar.hidden{
  display: none
}

#donate_guide{
  height: 210px;
  width: 420px;
  margin: 0 auto;
}

#donate_guide img{
  height: 200px;
  height: 200px;
}