.footer {
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  .footer-main {
    text-align: center;
    a {
      color: #fff;
    }
    i {
      margin-right: 10px;  
      margin-left: 5px;
    }
    .link {
      i {
        cursor: pointer;
      }  
    }
    .footer-copyright {
      a {
        text-decoration: underline;  
      }
    }
  }
}