.post-detail-header {
  width: 100%;
  height: 35vh;
  background: url('https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/663afbe7197941039f65afd048223aff.jpg!sswm') no-repeat;
  background-size: cover; 
  background-position: top center;
  text-align: center;
  .title {
    font-size: 2.0rem;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    line-height: 35vh;
    // margin-left: 350px;
  }
}
@media (max-width: 551px) {
  .post-detail-header {
    height: 20vh;
    .title {
      line-height: 20vh;
      font-size: 1.5rem;
    }
  }
}