.post-detail-header {
  width: 100%;
  height: 350px;
  background: url('https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/663afbe7197941039f65afd048223aff.jpg!sswm') no-repeat;
  background-size: cover; 
  background-position: top center;
  text-align: center;
  .title {
    font-size: 2.5rem;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    line-height: 300px;
  }
}