<!-- markdown代码一键复制功能 -->
<script src="<%- url_for('/js/clipboard/clipboard.min.js') %>"></script>
<script>
  !function (e, t, a) {
    var copy = '<%= __("copy") %>';
    /* code */
    var initCopyCode = function () {
      var copyHtml = '';
      copyHtml += '<button class="btn-copy" data-clipboard-snippet="" style="position:absolute;top:0;right:0;z-index:1;">';
      copyHtml += '<i class="fa fa-copy"></i><span>' + copy + '</span>';
      copyHtml += '</button>';
      $(".post-detail pre").not('.gutter pre').wrap("<div class='codeBox' style='position:relative;width:100%;'></div>")
      $(".post-detail pre").not('.gutter pre').before(copyHtml);
      new ClipboardJS('.btn-copy', {
        target: function (trigger) {
          return trigger.nextElementSibling;
        }
      });
    }
    initCopyCode();
  }(window, document);
</script>