.bg-light-floor-about {
  background: convert(hexo-config('about.background'));
  background-size: cover;
  background-position: center center;
}

.about-header {
  position: relative;
  width: 100%;
  height: 60vh;

  if (hexo-config('about.full')) {
    height: 100vh;
  }

  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-inner;

  .about-header-title {
    z-index: 2;
    font-size: 2.5rem;
    font-family: MV Boli;
    color: #fff;
  }

  .about-header-desc {
    z-index: 2;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-family: 'Architects Daughter', cursive !important;
    color: #fff;
    min-height: 1.4em;
  }

  .mask-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
  }
}

.about-video {
  width: 100%;
  height: 100vh;
  color: $color-inner;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-header-title {
    z-index: 2;
    font-size: 2.5rem;
    font-family: MV Boli;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .video-header-desc {
    z-index: 2;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-family: 'Architects Daughter', cursive !important;
    color: #fff;
    min-height: 1.4em;
    position: absolute;
    left: 50%;
    top: calc(50% + 50px);
    transform: translate(-50%, -50%);
  }

  .mask-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  if (hexo-config('about.video')) {
    .about-video {
      display: block;
    }

    .about-header {
      display: none;
    }
  } else {
    .about-video {
      display: none;
    }

    .about-header {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .about-video {
    display: none;
  }

  .about-header {
    display: flex;
  }
}

#about {
  .title {
    text-align: center;
    font-size: 1.6em;
    color: #273849;

    if (hexo-config('about.titleColor')) {
      color: convert(hexo-config('about.titleColor'));
    }

    padding: 15px 0;
  }

  .subtitle {
    color: #273849;
    font-size: 1.4em;
  }

  .basic-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px;

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        flex: 0 0 100px;
        text-align: center;
        color: #273849;

        .border {
          border: 1px solid #273849;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          font-size: 3.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
        }
      }
    }

    .skill {
      padding: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;

      .bar-box {
        position: relative;
        width: 45%;
        height: 20px;
        background-color: #dddcdc;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
        margin-right: 5%;
        @media (max-width: 551px) {
          width: 100%;
          margin-right: 0;
        }
        .bar {
          width: 35%;
          height: 100%;
          background-color: #42b983;
          border-radius: 10px;

          .bar-name {
            color: #fff;
            font-size: 14px;
            margin-left: 15px;
          }
        }

        .bar-name {
          color: #fff;
          font-size: 14px;
          position: absolute;
          left: 15px;
          top: 0;
          line-height: 20px;
        }

        .bar-number {
          color: #fff;
          font-size: 14px;
          position: absolute;
          right: 2%;
          top: 0;
        }
      }
    }

    .socialAccounts {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .account {
        margin-right: 20px;
        margin-top: 15px;
      }
    }

    .games {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .game-item {
        text-align: center;
        margin-right: 5%;

        .logo {
          width: 100px;
          height: 100px;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
    }

    .books {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .book-item {
        text-align: center;
        margin-right: 5%;

        .logo {
          width: 100px;
          height: 110px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}