body {
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Segoe UI,Microsoft YaHei,Hiragino Sans GB,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px / 1.5tahoma, arial, \5 b8b \4 f53;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*, a:active, a:hover {
  outline: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 以上为css初始化
html, *[cursor-default] {
  background-color: #F2F2F2;
  // line-height: 1.5;
  font-size: 16px;
  cursor: $cursor-default, auto;
}

a:hover, .swiper-pagination-bullet, .danmuBtn, *[pointer] {
  cursor: $cursor-pointer, pointer !important;
}

p, input, pre code, textarea, *[text] {
  cursor: $cursor-text, text;
}

.fancybox-container .fancybox-stage {
  cursor: $cursor-zoom-out, zoom-out !important;
}

.fancybox a, .fancybox-can-zoomIn .fancybox-content {
  cursor: $cursor-zoom-in, zoom-in !important;
}

.main {
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
}

// 背景
.bg-color {
  background-color: $color-primary;
}

// 回到顶部按钮背景
.top-btn-color {
  background-color: $color-primary;
}

// 字体
.color-primary {
  color: $color-primary !important;
}

// a链接
a {
  color: $color-link;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

// 滚动条
::-webkit-scrollbar-thumb {
  background-color: $color-primary;

  border-radius: 3em;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

pre::-webkit-scrollbar-thumb, .side_toc .toc-content::-webkit-scrollbar-thumb {
  background: transparent;
}

pre:hover::-webkit-scrollbar-thumb, .side_toc .toc-content:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

pre:hover::-webkit-scrollbar-thumb:hover, .side_toc .toc-content:hover::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary;
}

// 媒体查询
@media (max-width: 551px) {
  html {
    font-size: 14px;
  }
}

// 鼠标选择背景色
::-moz-selection {
  background: $color-primary
  color: #fff;
}

::selection {
  background: $color-primary
  color: #fff;
}

.bg-floor {
  background: $bg-floor;
  background-size: cover;
  transition: all 0.3s;
}

if (hexo-config('scrollreveal.on')) {
  .reveal {
    visibility: hidden;
  }
}
