// 首页的categories样式
.post-categories {
  float: left;
  color: #8a8a8a;

  .article-category {
    .article-category-link {
      color: #8a8a8a;

      &:hover {
        color: #42b983;
      }
    }
  }
}

.bg-light-floor-categories {
  background: convert(hexo-config('categories.background'));
  background-size: cover;
  background-position: center center;
}

.categories-header {
  position: relative;
  width: 100%;
  height: 60vh;

  if (hexo-config('categories.full')) {
    height: 100vh;
  }

  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-inner;

  .categories-header-title {
    z-index: 2;
    font-size: 2.5rem;
    font-family: MV Boli;
    color: #fff;
  }

  .categories-header-desc {
    z-index: 2;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-family: 'Architects Daughter', cursive !important;
    color: #fff;
    min-height: 1.4em;
  }

  .mask-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
  }
}

.categories-video {
  width: 100%;
  height: 100vh;
  color: $color-inner;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-header-title {
    z-index: 2;
    font-size: 2.5rem;
    font-family: MV Boli;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .video-header-desc {
    z-index: 2;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-family: 'Architects Daughter', cursive !important;
    color: #fff;
    min-height: 1.4em;
    position: absolute;
    left: 50%;
    top: calc(50% + 50px);
    transform: translate(-50%, -50%);
  }

  .mask-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  if (hexo-config('categories.video')) {
    .categories-video {
      display: block;
    }

    .categories-header {
      display: none;
    }
  } else {
    .categories-video {
      display: none;
    }

    .categories-header {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .categories-video {
    display: none;
  }

  .categories-header {
    display: flex;
  }
}

// 分类页面categories样式
#categories {
  min-height: calc(70vh - 60px);

  .card {
    .card-content {
      margin: 20px 0 40px 0;

      .category-title {
        font-size: 1.6em;
        color: #273849;

        if (hexo-config('categories.titleColor')) {
          color: convert(hexo-config('categories.titleColor'));
        }

        text-align: center;
        padding: 15px 0;
      }

      .category-chips {
        text-align: center;

        a {
          margin: 0 5px;

          .category-content {
            width: 30%;
            padding: 5px 10px;
            display: inline-block;
            border-radius: 10px;
            color: #273849;
            box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.5);
            transition: all 0.3s;
            margin-top: 20px;

            &:hover {
              transform: scale(1.2);
            }

            .category-length {
              color: #49b1f5;
            }
          }
        }
      }
    }
  }
}