#vcomments textarea {
  box-sizing: border-box;
  background: url(/source/medias/comment_bg.png) 100% 100% no-repeat;
}
#gitalk-container {
  background: rgba(255,255,255,0.8);
  padding: 1em;
  margin: 10px 0;  
}
#gitment-ctn {
  background: rgba(255,255,255,0.8);
  padding: 1em;
  margin: 10px 0;  
}