.copyright {
  margin-top: 50px;
}

.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid $color-primary;
  background-color: alpha(#F9F9F9, $color-post-contentOpacity);
  list-style: none;
  margin-top: 20px;
}

.post-copyright li {
  line-height: 30px;
  word-break: break-all;
}