// 全局背景颜色
.bg-color {
  // background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%); 42b983
  background: #42b983;
}
// 全局字体颜色
.color-primary {
  color: #42b983!important;
}
// 边框颜色
.border-color {
  border: 1px solid #42b983
}
a {
  color: #42b983;
}
// 轮播图底部小点点的背景颜色
.swiper-pagination-bullet-active {
  background-color: #42b983!important;
}
// 搜索输入框聚焦时候的颜色
#local-search-input:focus {
  background-image: linear-gradient(#42b983, #42b983),
                      linear-gradient(#e4eaec, #e4eaec)!important;
}
// 推荐文章鼠标移入到阅读更多的颜色
.topArticle {
  .more {
    &:hover {
      color: #42b983!important;
    }
  }  
}

// 首页文章标题和阅读更多鼠标移入
.posts {
  .post-title {
    .post-title-link {
      &:hover {
        color: #42b983;
      }
    }
  }  

  .post-more {
    i {
      &:hover {
        color: #42b983;
      } 
    }
  }
}

// 首页文章tag和category鼠标移入颜色
.post-tags {
  .article-tag-list li a {
    &:hover {
      color: #42b983;
    }
  }  
}

.post-categories {
  .article-category {
    .article-category-link {
      &:hover {
        color: #42b983;
      }
    }  
  }
}

// 滚动条颜色
::-webkit-scrollbar-thumb {
    background-color: #42b983;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    border-radius: 3em;
}

// 文章详情页的a链接颜色
.post-detail {
  a {
    color: #42b983!important;
  }  
}

// copyright的左边框颜色
.post-copyright {
  border-left: 3px solid #42b983;
}

// 文章详情页的blockquote，md中的 > 标签的左边框和背景颜色
.post-detail {
  blockquote {
      border-left: 4px solid #42b983;
      background-color: rgba(66, 185, 131, .1);
  }
}
// 文章详情页的目录的做边框
.toc-link.is-active-link::before {
  background-color: #42b983;
}
