
// 轮播图底部小点点的背景颜色
.swiper-pagination-bullet-active {
  background-color: $color-default!important;
}
// 搜索输入框聚焦时候的颜色
#local-search-input:focus {
  background-image: linear-gradient($color-default, $color-default),
                      linear-gradient(#e4eaec, #e4eaec)!important;
}
// 推荐文章鼠标移入到阅读更多的颜色
.topArticle {
  .more {
    &:hover {
      color: $color-default!important;
    }
  }  
}

// 首页文章标题和阅读更多鼠标移入
.posts {
  .post-title {
    .post-title-link {
      &:hover {
        color: $color-default;
      }
    }
  }  

  .post-more {
    i {
      &:hover {
        color: $color-default;
      } 
    }
  }
}

// 首页文章tag和category鼠标移入颜色
.post-tags {
  .article-tag-list li a {
    &:hover {
      color: $color-default;
    }
  }  
}

.post-categories {
  .article-category {
    .article-category-link {
      &:hover {
        color: $color-default;
      }
    }  
  }
}

// 文章详情页的a链接颜色
.post-detail {
  a {
    color: $color-default!important;
  }  
}

// copyright的左边框颜色
.post-copyright {
  border-left: 3px solid $color-default;
}

// 文章详情页的blockquote，md中的 > 标签的左边框和背景颜色
.post-detail {
  blockquote {
      border-left: 4px solid $color-default;
      background-color: $color-default-shallow;
  }
}
// 文章详情页的目录的左边框
.toc-link.is-active-link::before {
  background-color: $color-default;
}

// 归档页面文章日期的背景颜色
.archive {
    .post-archive {
      .post-item {
        .post-date {
          background-color: $color-default;
        }
        .post-title {
          &:hover {
            color: $color-default;
          }
        }
      }
    }
}

// valine评论颜色
// valine 访客-标签的背景色
#vcomment .vcards .vcard .vh .vhead .vtag.vvisitor {
  background-color: $color-default!important;
}
// valine 按钮的背景色
.v[data-class=v] .vbtn:active, .v[data-class=v] .vbtn:hover {
  color: $color-default!important;
  border-color: $color-default!important;
}
// valine ‘回复’ 字体颜色， 默认是 #ef2f11 红色， 您可以将此红色改成你设置的主题颜色
// #vcomment .vcards .vcard .vh .vmeta .vat {
//   color: #ef2f11;
// }
