.donate_bar {
  text-align: center;
}

.donate_bar a.btn_donate {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  background: url('http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif') no-repeat; // img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif)no-repeat;
  -webkit-transition: background 0s;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -ms-transition: background 0s;
  transition: background 0s;
}

.donate_bar a.btn_donate:hover {
  background-position: 0 -82px;
}

.donate_bar .donate_txt {
  display: block;
  color: #9d9d9d;
  font: 14px / 2 'Microsoft Yahei';
}

.post-donate {
  display: flex;
  justify-content: center;
}

.donate-box-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.donate-box {
  position: fixed;
  top: 15%;
  width: 300px;
  background-color: #fff;
  z-index: 12;
  overflow: hidden;
  padding: 10px;

  .donate-box_close {
    height: 20px;

    i {
      float: right;
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #000000;
      }
    }
  }

  .donate-box_title {
    h4 {
      text-align: center;
      color: #273849;
      font-size: 1.4rem;
    }
  }

  .donate-box_tab {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .Alipay, .WeChatpay {
      width: 20%;
      line-height: 20px;
      text-align: center;
      background-color: #ccc;
      padding: 10px 20px;
      color: white;
    }

    .Alipay.active {
      background-color: #027AFF;
    }

    .WeChatpay.active {
      background-color: #00bc0d;
    }
  }

  .donate-box_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px auto;

    .AlipayImg, .WeChatpayImg {
      width: 100%;
      height: 100%;
    }

    .AlipayImg img, .WeChatpayImg img {
      width: 100%;
      height: 100%;
    }
  }
}