.footer {
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-inner;
  if hexo-config('color_scheme.footer.background') {
    background: convert(hexo-config('color_scheme.footer.background'));
  }  else {
    background: $color-primary
  }
  // position: relative;
  // z-index: 1;
  .footer-main {
    text-align: center;
    a {
      color: $color-inner;
    }
    i {
      margin-right: 10px;  
      margin-left: 5px;
    }
    .link {
      i {
        cursor: pointer;
      }  
    }
    .footer-copyright {
      a {
        text-decoration: underline;  
      }
    }
  }
}