.goTop {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  // background-color: rgb(240, 124, 130); // http://zhongguose.com/#xiangyehong
  cursor: pointer;
  z-index: 1;
  bottom: 20px;
  right: 17px;
  border-radius: 50%;
  // color: $color-inner;
  color: #fff;
  transform: translateY(120px);
  transition: transform .2s;
  box-shadow:-2px 2px 2px 2px rgba(255,255,255,0.5);
  z-index: 999;
}
@media (max-width: 551px) {
  .goTop {
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 0;
  }
}