.motto {
  width: 100%;
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  background: convert(hexo-config('motto.background'));

  .motto-title {
    text-align: center;
  }

  .motto-content {
    text-align: center;
    padding: 15px 20%;
    color: #34495e;
  }
}

@media (max-width: 551px) {
  .motto {
    .motto-content {
      padding: 15px 10%;
    }
  }
}