.pace .pace-progress {
  background: #f6a427; /* 进度条颜色 */
  height: 3px;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #1E92FB, 0 0 5px #1E92FB; /* 阴影颜色 */
}

.pace .pace-activity {
  border-top-color: #1E92FB; /* 上边框颜色 */
  border-left-color: #1E92FB; /* 左边框颜色 */
}