.page-nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 16px;

  .page-nav-pre, .page-nav-next {
    background-color: $color-primary;
  }

  .page-nav-pre {
    text-align: right;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 10px;
    color: $color-inner;

    .ml-5 {
      margin-left: 5px;
    }
  }

  .page-nav-next {
    text-align: right;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 10px;
    color: $color-inner;

    .mr-5 {
      margin-right: 5px;
    }
  }
}

.w-70 {
  width: 70%;
  margin: 0 auto;

  @media (max-width: 551px) {
    width: 100%;
  }

  @media (max-width: 992px) {
    width: 90%;
  }
}