.post-nav {
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  .post-nav-prev {
    flex: 1;
  }
  .post-nav-next {
    flex: 1;
    span {
      float: right;
    }
  }
}