.tag {
  min-height: calc(100vh - 60px);
  padding-bottom: 20px;
  .tag-name {
    display: flex;
    justify-content: center;
    .name {
      display: inline-block;
      background-color: red;
      margin-top: 20px;
      min-width: 30%;
      padding: 10px 20px;
      text-align: center;
      font-size: 1.6em;
      color: #273849;
      border-radius: 10px;
    }
  }
}