// 首页的文章列表的tags样式
.post-tags {
  color: #8a8a8a;
  display: flex;
  i {
    margin-right: 5px;
  }
  .article-tag-list li {
    display: inline-block;
    margin-right: 5px;
  }
  .article-tag-list li a {
    color: #8a8a8a;
    &:hover {
      color: #42b983;
    }
  }
}

// 标签页面的tags样式
#tags {
  min-height: calc(60vh - 60px); 
  .card {
    .card-content {
      margin: 20px 0 40px 0;
      .tag-title {
        font-size: 1.6em;
        color: #273849;
        text-align: center;
        padding: 15px 0;
      }
      .tag-chips {
        text-align: center;
        a {
          margin: 0 5px;
          .tag-content {
            width: 30%;
            padding: 5px 10px;
            display: inline-block;
            border-radius: 10px;
            color: #273849;
            box-shadow: 0 1px 10px -3px rgba(0,0,0,.5);
            transition: all 0.3s;
            margin-top: 20px;
            &:hover {
              transform:scale(1.2);  
            }
            .tag-length {
              color: #49b1f5;
            }
          }
        }
      }
    }
  }
}