body {
  background-color: #F2F2F2;
  font-size: 1.25rem;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_partial/header";
@import "_partial/post";
// 可以打开根目录下的highlight.enable为true，注释prism_plugin属性，来使用定义的highlight
// @import "_partial/highlight"
@import "_partial/donate";
@import "_partial/comment";
@import "_partial/custom";