html {
  background-color: #F2F2F2;
  line-height: 1.5;
  font-size: 16px;
}
.bg-color {
  background-color: #42b983;
}
.color-primary {
  color: #42b983;
}
a {
  color: #42b983;
  text-decoration: none;
}
[v-cloak] {
  display: none; 
} 
.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_partial/header";
@import "_partial/post";
// 可以打开根目录下的highlight.enable为true，注释prism_plugin属性，来使用定义的highlight
// @import "_partial/highlight"
@import "_partial/donate";
@import "_partial/comment";
@import "_partial/search";
@import "_partial/mobile";
@import "_partial/custom";