<div style="width: 100%;height: 50vh;overflow: hidden;background-image: url('https://cdn.pixabay.com/photo/2016/03/04/22/54/panda-1236875_960_720.jpg');background-size: cover; 
background-position: center center;">
</div>